    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        /* Primary colors */
        --color-red: hsl(0, 78%, 62%);
        --color-cyan: hsl(180, 62%, 55%);
        --color-orange: hsl(34, 97%, 64%);
        --color-blue: hsl(212, 86%, 64%);
        /* Neutral colors */
        --color-very-dark-blue: hsl(234, 12%, 34%);
        --color-grayish-blue: hsl(229, 6%, 66%);
        --color-very-light-gray: hsl(0, 0%, 98%);
    }
    
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    html {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
    
    body {
        height: 100vh;
        width: 100vw;
        background-color: var(--color-very-light-gray);
    }
    
    .container {
        margin: 2em;
    }
    
    .headline {
        text-align: center;
        padding: 1em 0;
    }
    
    .light {
        color: var(--color-very-dark-blue);
    }
    
    .headline-text {
        font-size: 25.5px;
        color: var(--color-very-dark-blue);
    }
    
    .headline-content {
        font-size: 16px;
        padding: 1em 0;
        color: var(--color-very-dark-blue);
    }
    
    .thin {
        font-weight: 200;
    }
    
    .box-item {
        background-color: white;
        overflow: hidden;
        border-radius: 0.4em;
        padding: 2em;
        margin: 2em 0;
    }
    
    .box-title {
        font-size: 19px;
        color: var(--color-very-dark-blue);
    }
    
    .box-content {
        font-size: 13px;
        padding-top: 0.5em;
    }
    
    .box-image-container {
        padding-top: 3em;
        width: 100%;
        text-align: right;
    }
    
    .box-1 {
        border-top: 4px solid var(--color-cyan);
    }
    
    .box-2 {
        border-top: 4px solid var(--color-red);
    }
    
    .box-3 {
        border-top: 4px solid var(--color-orange);
    }
    
    .box-4 {
        border-top: 4px solid var(--color-blue);
    }
    
    .shadow {
        box-shadow: 0 12px 20px 5px rgba(149, 148, 148, 0.15);
    }
    
    @media screen and (min-width: 601px) {
        .container {
            max-width: 1100px;
        }
        body,
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .headline-content {
            max-width: 550px;
        }
        .headline-text {
            font-size: 2.5em;
        }
        .box-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
        }
        .box-1,
        .center-box,
        .box-4 {
            flex-basis: 31.5%;
        }
        .box-1,
        .box-4 {
            align-self: center;
        }
    }
